[submodule "lib/perf-utils"]
	path = lib/perf-utils
	url = https://github.com/natmaurice/perf-utils.git
[submodule "lib/simdhelpers"]
	path = lib/simdhelpers
	url = https://github.com/natmaurice/simdhelpers.git